<mat-list>
  <mat-list-item><span>App Lojas</span></mat-list-item>
  <mat-list-item class="cursor-pointer" [routerLink]="['/dashboard']"><mat-icon class="mat-icon-sidebar-size mr-2" aria-hidden="false" aria-label="home">home</mat-icon> <span>Dashboard</span></mat-list-item>
  <mat-list-item class="cursor-pointer" [routerLink]="['/destaques-dos-meses']"><mat-icon class="mat-icon-sidebar-size mr-2" aria-hidden="false" aria-label="melhores estabelecimentos">store_mall_directory</mat-icon><span>Melhores</span></mat-list-item>
  <mat-list-item class="cursor-pointer" [routerLink]="['/estabelecimentos']"><mat-icon class="mat-icon-sidebar-size mr-2" aria-hidden="false" aria-label="melhores estabelecimentos">storefront</mat-icon><span>Estabelecimentos</span></mat-list-item>
 </mat-list>
