.example-container {
  width: 500px;
  height: 300px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.mat-icon-sidebar-size{
  font-size: 1.5rem !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  color: #0097A7 !important;
}
