<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 mt-3">
      <h3 class="title">Melhores Estabelecimentos</h3>
    </div>
  </div>
  <hr class="mt-0">

  <div class="row">
    <div class="col-lg-12">
      <mat-card *ngFor="let estabelecimento of melhoresEstabelecimentos" class="ui-card-left-primary mb-4 pt-4 pb-4">
        <mat-card-content class="d-flex">
            <div class="sub-title-dashboard col-lg-3 align-self-center">
              {{estabelecimento.nome}}
              <span class="{{obterBadge(estabelecimento.tipo)}} p-2 ml-4">{{estabelecimento.tipo}}</span>
        </div>
            <div class="sub-title-dashboard ui-divider-left-primary col-lg-3 align-self-center pt-2 pb-2">{{estabelecimento.mesAno}}</div>
            <div class="col-lg-3 ui-divider-left-primary align-self-center">
              <span class="sub-title">Avaliação</span>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [style]="'width:'+estabelecimento.avaliacao+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{estabelecimento.avaliacao?.toString().replace('.', ',')}}%</div>
              </div>
            </div>
            <div class="col-lg-3 ui-divider-left-primary align-self-center">
              <span class="sub-title">Aderência</span>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [style]="'width:'+estabelecimento.aderencia+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{estabelecimento.aderencia?.toString().replace('.', ',')}}%</div>
              </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div *ngIf="melhoresEstabelecimentos?.length == 0" class="alert alert-primary" role="alert">
      Nenhuma informação encontrada.
    </div>
    <div *ngIf="!melhoresEstabelecimentos" class="d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
    </div>
  </div>
  <div *ngIf="totalDeElementos > tamanhoPadrao" class="row">
    <div class="col-lg-12">
      <mat-paginator class="title-paginate" [length]="totalDeElementos" [pageSize]="tamanhoPadrao" (page)="exibirMelhores($event.pageIndex+1)" [hidePageSize]="true"></mat-paginator>
    </div>
  </div>

</div>
