<mat-grid-list cols="1" rowHeight="95vh">
  <mat-grid-tile>
    <mat-card class="p-4">
      <div class="d-flex justify-content-center">
        <h3>App Lojas</h3>
      </div>
      <form [formGroup]="loginForm" (submit)="entrar()">
        <p>
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Digite o seu email" type="text">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="w-100">
            <mat-label>Senha</mat-label>
            <input formControlName="senha" matInput placeholder="Digite a sua senha" [type]="exibirSenha ? 'text' : 'password'">
            <mat-icon class="cursor-pointer" matSuffix (click)="exibirSenha = !exibirSenha">{{exibirSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </p>
        <div class="d-flex justify-content-between">
          <span class="d-flex align-items-center">Novo? <a class="ml-1" [routerLink]="['cadastrar']">cadastra-se</a></span>
          <button *ngIf="!processando; else loading" class="ml-2" type="submit" mat-raised-button color="primary">Entrar</button>
        </div>
    </form>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<ng-template #snack>
  <span class="h6">Bem-vindo a plataforma!</span>
</ng-template>

<ng-template #loading>
  <mat-spinner [diameter]="40"></mat-spinner>
</ng-template>
