<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3">
      <h3 class="title">Estabelecimentos</h3>
    </div>
  </div>
  <hr class="mt-0">

  <div class="row">
    <div *ngFor="let estabelecimento of estabelecimentos$ | async" class="col-3">
      <mat-card class="ui-card-left-primary mb-4 pt-4 pb-4">
        <mat-card-header>
          <mat-icon mat-card-avatar class="mat-icon-size align-self-start" aria-hidden="false" aria-label="melhores estabelecimentos">storefront</mat-icon>
          <mat-card-title>{{estabelecimento.nome}}</mat-card-title>
          <mat-card-subtitle>{{estabelecimento.tipo}}</mat-card-subtitle>
          <span *ngIf="estabelecimento.status.toLocaleUpperCase() == 'DESATIVADO'" class="badge badge-danger badge-size p-2">Desativado</span>
          <span *ngIf="estabelecimento.status.toLocaleUpperCase() == 'PENDENTE'" class="badge badge-warning badge-size p-2">Pendente</span>
        </mat-card-header>
        <div class="row">
          <div class="col-11 ml-3">
            <mat-divider class="bg-primary"></mat-divider>
          </div>
        </div>
        <mat-card-content class="d-flex justify-content-around mt-2">
          <div>
            <h3 class="title mb-0 d-flex justify-content-center {{estabelecimento.aderencia >= 50 ? 'text-success': 'text-danger'}}">{{estabelecimento?.aderencia?.toFixed(2)?.toString()?.replace('.', ',')}}%</h3>
            <span class="text-muted">Aderência</span>
          </div>
          <div class="ui-divider-left-primary pl-4">
            <h3 class="title mb-0 d-flex justify-content-center {{estabelecimento.avaliacao >= 50 ? 'text-success': 'text-danger'}}">{{estabelecimento?.avaliacao?.toFixed(2)?.toString()?.replace('.', ',')}}%</h3>
            <span class="text-muted">Avaliações</span>
          </div>
          <div class="ui-divider-left-primary pl-4">
            <h3 class="title mb-0 d-flex justify-content-center">{{estabelecimento.qtdeVendas}}</h3>
            <span class="text-muted">Vendas</span>
          </div>
        </mat-card-content>
    </mat-card>
    </div>
  </div>
  <div *ngIf="totalDeElementos > tamanho" class="row">
    <div class="col-lg-12">
      <mat-paginator class="title-paginate" [length]="totalDeElementos" [pageSize]="tamanho" (page)="obterEstabelecimentos($event.pageIndex+1)" [hidePageSize]="true"></mat-paginator>
    </div>
  </div>
</div>
