.main-container{
  background-color:#f3f6f9 !important;
  font-family: 'Poppins', sans-serif;
  flex: 1;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  position: fixed;
}

.navbar{
  background-color:#0097A7 !important;
}

.sidebar{
  background-color: #EEEEEE !important;
}


