<mat-drawer-container class="main-container" autosize>

  <mat-drawer #drawer class="sidebar" mode="side">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar class="navbar" *ngIf="obterUsuario()">
      <button type="button" mat-icon-button (click)="sidebar(drawer)">
        <mat-icon>menu</mat-icon>
      </button>
      <span>App Lojas</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>


