<mat-grid-list cols="1" gutterSize="400" rowHeight="95vh">
  <mat-grid-tile colspan="1">
    <mat-card class="p-4 w-25">
      <div class="d-flex justify-content-center">
        <h3>Cadastrar novo usuário</h3>
      </div>
      <form [formGroup]="cadastrarForm" (submit)="cadastrar()">
        <p>
          <mat-form-field class="w-100">
            <mat-label>Nome</mat-label>
            <input formControlName="nome" matInput placeholder="Digite o seu nome" type="text">
          </mat-form-field>
          <small *ngIf="validarCampo('nome')" class="text-red">Campo nome é obrigatório.</small>
        </p>
        <p>
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Digite o seu nome" type="text">
          </mat-form-field>
          <small *ngIf="cadastrarForm.get('email').hasError('emailCadastrado')" class="text-red">Email já possui cadastro<br></small>
          <small *ngIf="cadastrarForm.get('email').hasError('email') && cadastrarForm.get('email').touched" class="text-red">Email inválido.<br></small>
          <small *ngIf="validarCampo('email')" class="text-red">Campo email é obrigatório.</small>
        </p>
        <p>
          <mat-form-field [ngClass]="{'w-100': true, 'mat-form-field-invalid': validarSenha()}">
            <mat-label>Senha</mat-label>
            <input formControlName="senha" matInput placeholder="Digite a sua senha" type="password">
          </mat-form-field>
          <small *ngIf="validarSenha()" class="text-red">As senhas devem ser iguais.<br></small>
          <small *ngIf="cadastrarForm.get('senha').hasError('minlength') && cadastrarForm.get('senha').touched" class="text-red">A senha deve ter mais de 6 characters.<br></small>
          <small *ngIf="validarCampo('senha')" class="text-red">O campo senha é obrigatório.</small>
        </p>
        <p>
          <mat-form-field [ngClass]="{'w-100': true, 'mat-form-field-invalid': validarSenha()}">
            <mat-label>Confirmar senha</mat-label>
            <input formControlName="reSenha" matInput placeholder="Confirme a sua senha" type="password">
          </mat-form-field>
          <small *ngIf="validarSenha()" class="text-red">As senhas devem ser iguais.<br></small>
          <small *ngIf="cadastrarForm.get('reSenha').hasError('minlength') && cadastrarForm.get('reSenha').touched" class="text-red">A senha deve ter mais de 6 characters.<br></small>
          <small *ngIf="validarCampo('reSenha')" class="text-red">O campo senha é obrigatório.</small>
        </p>
        <div class="d-flex justify-content-between">
          <a [routerLink]="['/login']" class="d-flex align-items-center">Voltar</a>
          <button [disabled]="cadastrarForm.invalid" *ngIf="!processando; else loading" type="submit" class="ml-2" mat-raised-button color="primary">Cadastrar</button>
        </div>
    </form>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #loading>
    <mat-spinner [diameter]="40"></mat-spinner>
</ng-template>
