<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 mt-3">
      <h3 class="title">Dashboard</h3>
    </div>
  </div>
  <hr class="mt-0">

  <div class="row">
    <div class="col-6">
      <h3 class="title">Faturamento total</h3>
    </div>
    <div class="col-6">
      <h3 class="title">Parceiros</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-card class="ui-card-left-primary mb-4 pt-4 pb-4 card-faturamento-size">
        <mat-card-content class="d-flex justify-content-around">
          <div class="pt-3">
            <h3 class="title-card-faturamento mb-1">{{faturamentoPorEstabelecimento?.supermercado?.toFixed(2)}}</h3>
            <span class="text-muted sub-title">Supermercado</span>
          </div>
          <div class="ui-divider-left-primary pt-3 pl-4">
            <h3 class="title-card-faturamento mb-1">{{faturamentoPorEstabelecimento?.restaurante?.toFixed(2)}}</h3>
            <span class="text-muted sub-title">Restaurante</span>
          </div>
          <div class="ui-divider-left-primary pt-3 pl-4">
            <h3 class="title-card-faturamento mb-1">{{faturamentoPorEstabelecimento?.variedade?.toFixed(2)}}</h3>
            <span class="text-muted sub-title">Variedade</span>
          </div>
          <div class="ui-divider-left-primary pt-3 pl-4">
            <h3 class="title-card-faturamento mb-1">{{faturamentoPorEstabelecimento?.moda?.toFixed(2)}}</h3>
            <span class="text-muted sub-title">Moda</span>
          </div>

        <div *ngIf="!engajamentos?.length && !chartEngajamentosOptions" class="alert alert-info" role="alert">
          Nenhuma informação disponível.
        </div>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="col-2">
      <mat-card [routerLink]="['/estabelecimentos']" class="ui-card-left-primary mb-4 pt-4 pb-4 card-faturamento-size cursor-pointer">
        <mat-card-content>
         <h3 class="card-title d-flex justify-content-center">45</h3>
         <h3 class="sub-title d-flex justify-content-center">Estabelecimentos</h3>

        <div *ngIf="!engajamentos?.length && !chartEngajamentosOptions" class="alert alert-info" role="alert">
          Nenhuma informação disponível.
        </div>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="col-2">
      <mat-card class="ui-card-left-yellow mb-4 pt-4 pb-4 card-faturamento-size">
        <mat-card-content>
         <h3 class="card-title d-flex justify-content-center">15</h3>
         <h3 class="sub-title d-flex justify-content-center">Pendentes</h3>

        <div *ngIf="!engajamentos?.length && !chartEngajamentosOptions" class="alert alert-info" role="alert">
          Nenhuma informação disponível.
        </div>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="col-2">
      <mat-card class="ui-card-left-red mb-4 pt-4 pb-4 card-faturamento-size">
        <mat-card-content>
         <h3 class="card-title d-flex justify-content-center">5</h3>
         <h3 class="sub-title d-flex justify-content-center">Bloqueados</h3>

        <div *ngIf="!engajamentos?.length && !chartEngajamentosOptions" class="alert alert-info" role="alert">
          Nenhuma informação disponível.
        </div>
        </mat-card-content>
    </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <mat-card class="ui-card-left-primary mb-4 pt-4 pb-4 card-chart-size">
        <mat-card-title class="border-bottom">
          <h3 class="sub-title">Engajamento dos últimos meses</h3>
        </mat-card-title>
        <mat-card-content>
          <highcharts-chart *ngIf="chartEngajamentosOptions && engajamentos?.length; else nenhumaInformacao"
          [Highcharts]="Highcharts"
          [options]="chartEngajamentosOptions"
          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>

        <div *ngIf="!engajamentos?.length && !chartEngajamentosOptions" class="alert alert-info" role="alert">
          Nenhuma informação disponível.
        </div>
        </mat-card-content>
    </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="ui-card-left-primary mb-4 pt-4 pb-4 card-chart-size">
        <mat-card-title class="border-bottom">
          <div class="row">
            <h3 class="sub-title col-8">Faturamento Mensal</h3>
            <mat-select (selectionChange)="trocarMes($event)" class="col-4" [placeholder]="'Selecione um mês'">
              <mat-option *ngFor="let mes of meses$ | async" [value]="mes.id">{{mes.nome}}/{{mes.ano}}</mat-option>
            </mat-select>
          </div>
        </mat-card-title>
        <mat-card-content>
          <highcharts-chart *ngIf="chartFaturamentoMensalOptions && faturamento"
          [Highcharts]="Highcharts"
          [options]="chartFaturamentoMensalOptions"
          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>

        <div *ngIf="!faturamento && !chartFaturamentoMensalOptions" class="alert alert-info" role="alert">
          Nenhuma informação disponível.
        </div>
        </mat-card-content>
    </mat-card>
    </div>
  </div>

</div>


<ng-template #nenhumaInformacao>

</ng-template>
