/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
  background-color:#f3f6f9;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

.card-chart-size{
  height: 500px;
}

.ui-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .5rem;
  box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.ui-card-header{
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.ui-card-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.ui-card-left-red{
  border-left: 5px solid #dc3545 !important;
}

.ui-card-left-primary{
  border-left: 5px solid #0097A7 !important;
}

.ui-card-left-green{
  border-left: 5px solid #28a745 !important;
}

.ui-card-left-yellow{
  border-left: 5px solid #FFC400 !important;
}

.ui-divider-left{
  border-left: 3px solid #f3f6f9 !important;
}

.ui-divider-left-primary{
  border-left: 2px solid #0097A7 !important;
}

.badge-primary {
  color: #fff;
  background-color: #0097A7;
  font-weight: lighter !important;
}

.badge-blue{
  color: #fff;
  background-color: #01579B;
  font-weight: lighter !important;
}

.badge-green {
  color: #fff;
  background-color: #28a745;
  font-weight: lighter !important;
}

.badge-yellow {
  color: #000000;
  background-color: #FFC400;
  font-weight: lighter !important;
}

.badge-red {
  color: #fff;
  background-color: #dc3545;
  font-weight: lighter !important;
}

.cursor-pointer{
  cursor: pointer;
}

.icon-size{
  font-size: 2.2rem !important;
}

.title{
  font-size: 1.5rem !important;
}

.sub-title{
  font-size: 1.2rem !important;
}

.card-title{
  font-size: 3rem !important;
  font-weight: lighter !important;
}

.font-size-1{
  font-size: 0.5rem !important;
}

.font-size-2{
  font-size: 0.75rem !important;
}

.color-white{
  color: #fff !important;
}

.ml-5{
  margin-left: 2rem !important;
}

.ml-6{
  margin-left: 2.5rem !important;
}

.ml-7{
  margin-left: 3rem !important;
}

.d-flex{
  display: flex;
}

.grid-tile-start figure{
  justify-content: flex-start !important;
  align-items: start !important;
}

.flex-column div{
  flex-direction: column !important;
  justify-content: center !important;
}

.mat-icon-size{
  font-size: 3rem !important;
  height: 3rem !important;
  width: 3rem !important;
  color: #0097A7 !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #0097A7 !important;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  color: #0097A7;
  border-radius: 0.8rem;
}

.bg-primary{
  background-color:#0097A7 !important;
  color: #ffffff !important;
}

.title-paginate{
  font-size: 1.2rem !important;
}


.cursor-pointer{
  cursor: pointer;
}

.w-25{
  width: 25% !important;
}

.w-50{
  width: 50% !important;
}

.w-75{
  width: 75% !important;
}

.w-100{
  width: 100% !important;
}

.text-red{
  color: #dc3545 !important;
}

mat-list-item:focus{
  outline: none !important;
}
